In [3]:
%config InlineBackend.figure_formats = ['svg']

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import math
from tqdm import tqdm_notebook as tqdm
import pickle
import os
from typing import List, Dict
import seaborn as sns
sns.set_palette("colorblind")

In [5]:
os.chdir("/Users/edgan/Documents/projects/sketchstore/java/output/results")

In [11]:
datasets = [
    "l_caida_f",
    "l_zipf_f",
    "l_mnetwork_f",
    "l_mos_f",
    "l_power_q",
    "l_uniform_q",
    "l_mrecords_q",
]
dfs = []
for dataset in datasets:
    cur_df = pd.read_csv("{}/load_time.csv".format(dataset))
    cur_df["dataset"] = dataset
    dfs.append(cur_df)
df = pd.concat(dfs)

In [17]:
sketch_order = ["cooperative", "pps", "random_sample", "truncation", "dyadic_truncation", "yahoo_mg", "cms_min", "kll"]

In [20]:
df_out = df.set_index(
    ["dataset", "sketch"])[["construct_time"]].unstack(
    ["sketch"]
)["construct_time"][sketch_order].loc[datasets]

In [21]:
df_out

sketch,cooperative,pps,random_sample,truncation,dyadic_truncation,yahoo_mg,cms_min,kll
dataset,,,,,,,,
l_caida_f,1451.028945,575.306954,625.018196,834.121103,4765.979588,723.108166,731.680253,NaN
l_zipf_f,1967.923912,685.552867,823.553494,845.160356,8741.631339,592.754609,792.306309,NaN
l_mnetwork_f,388.430982,193.761656,213.696583,285.735535,1144.214973,433.609991,716.711676,NaN
l_mos_f,293.811424,178.243002,217.671850,236.773680,1102.174423,248.122929,646.200616,NaN
l_power_q,669.543515,124.725675,176.615324,164.667600,1165.790970,NaN,NaN,148.724537
l_uniform_q,47357.708684,82.308956,131.877035,120.706851,949.307985,NaN,NaN,92.866086
l_mrecords_q,1292.691964,536.587134,603.751205,517.591831,4866.656853,NaN,NaN,610.149872

In [24]:
print(df_out.to_latex(float_format="%.1f"))

\begin{tabular}{lrrrrrrrr}
\toprule
sketch &  cooperative &   pps &  random\_sample &  truncation &  dyadic\_truncation &  yahoo\_mg &  cms\_min &   kll \\
dataset      &              &       &                &             &                    &           &          &       \\
\midrule
l\_caida\_f    &       1451.0 & 575.3 &          625.0 &       834.1 &             4766.0 &     723.1 &    731.7 &   NaN \\
l\_zipf\_f     &       1967.9 & 685.6 &          823.6 &       845.2 &             8741.6 &     592.8 &    792.3 &   NaN \\
l\_mnetwork\_f &        388.4 & 193.8 &          213.7 &       285.7 &             1144.2 &     433.6 &    716.7 &   NaN \\
l\_mos\_f      &        293.8 & 178.2 &          217.7 &       236.8 &             1102.2 &     248.1 &    646.2 &   NaN \\
l\_power\_q    &        669.5 & 124.7 &          176.6 &       164.7 &             1165.8 &       NaN &      NaN & 148.7 \\
l\_uniform\_q  &      47357.7 &  82.3 &          131.9 &       120.7 &              949.3 &       NaN &      NaN &  92.9 \\
l\_mrecords\_q &       1292.7 & 536.6 &          603.8 &       517.6 &             4866.7 &       NaN &      NaN & 610.1 \\
\bottomrule
\end{tabular}